html, body {margin:0;padding:0;height:100%}
.panel-default > .panel-heading {
    background-color: #1C3448;
    color: white;
}

.selectpicker {
    width: 100%;
    display: none;
}

.navbar-inverse {
    background-color: #1C3448;
    color: white;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    width: 100%;
    height: 40px;
}

#myDisplay, #myInput {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-weight: normal
}

#myDisplay::after {
  content: attr(data-domain);
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  display: block;
  color: lightgrey;
}

#my_search_select_group {
  vertical-align: top;
  width: 100%;
  height: 40px;
  border-radius: 0;
}

#my_search_button {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 0;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #2b6da4; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

  #my_table_select_group {
    position: absolute;
    top: 175px;
    left: 15px;
  }

  .bootstrap-select>.dropdown-toggle {
    border-radius: 0;
    height: 40px;
  }

  .filter-option-inner-inner {
    text-overflow: ellipsis;
  }

  #my_search_select_group > .bootstrap-select {
    width: 100%;
  }

  .table {
    table-layout: fixed;
  }
  
  .table > thead > tr > th {
    border-top: none;
  }

  .table > thead > tr > th.legend {
    border-bottom: 1px solid #ddd;
    color: gray;
    text-align: center;
  }

  .table > thead > tr > th.nolegend {
    border-bottom: none;
  }

  .table > thead > tr > th.bool > span {
    writing-mode: vertical-lr;
    transform: scale(-1);
    vertical-align: top;
    background-position-x: -5px;
    padding-left: 15px;
    padding-right: 0px;
    background-position-y: initial;
  }

  .table > thead > tr > th.bool {
    text-overflow: clip;
    height: 110px;
  }

  td, th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }

  table > tbody > tr > td.bool {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 2.5px;
  }

  table > tbody > tr > td.bool {
    color: transparent;
  }

  table > tbody > tr > td.bool.no {
    background-color: whitesmoke ;
  }

  table > tbody > tr > td.yes.dataset {
    background-color: #ff9433;
  }

  table > tbody > tr > td.yes.database {
    background-color: #2b6da4;
  }

  .unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  .panel-group .panel {
    border-radius: 0px;
  }

  /*From boostrap-table*/
  .table thead th .sortable {
    cursor:pointer;
    background-position:right;
    background-repeat:no-repeat;
    padding-right:30px;
   }
   .table thead th .both {
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
   }
   .table thead th .asc {
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==')
   }
   .table thead th .desc {
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=')
   }

   /*quick fix to reverse transform -1 on these*/
   .table thead th.bool span.desc {
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==')
   }
   .table thead th.bool span.asc {
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=')
   }

   .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav > .active > a:hover  {
     background-color: initial;
   }

   .navbar > .container-fluid {
    background-color: #fafafa;
    -webkit-box-shadow: 0px 1px 43px -18px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 1px 43px -18px rgba(0,0,0,0.65);
    box-shadow: 0px 1px 43px -18px rgba(0,0,0,0.65);
   }

    .panel-default > .panel-heading {
      background-color: #fafafa;
      
    }

    .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
      color: #2b6da4;
      font-size: 22px;
    }

    .modal-content  {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px; 
  }

  .modal-title {
    color: #000000;
    font-size: 24px;
    text-align: left;
    text-indent: 8px;
  }

  #my_pagination_container {
    display: flex;
    justify-content: center
  }

  .qtltable {
    overflow:auto;
    max-height:400px;
    display:block;
    width:100%;
  } 

  .progress {
    border-radius: 0px;
    position: relative; 
    top: 50px; 
    height: 5px;
    z-index: -9999999;
    background-color: rgba(255, 255, 255, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .progress-bar {
    transition: none;
  }
